<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>

        <div class="container">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills float-right">
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/afroradiohead/klickly-interview" target="_blank">Checkout This Github</a>
                        </li>
                    </ul>
                </nav>
                <h3 class="text-muted">Klickly Interview <small>By Christopher E. Clarke</small></h3>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="jumbotron">
                        <h1 class="display-4">Shopify Migration Tool</h1>
                        <br  />
                        <div class="row">
                            <div class="col-4 mx-auto">
                                <form class="form-inline"  action="/api/migrate" method="POST">
                                    <div class="input-group mb-3">
                                        <input type="text" name="storeName" class="form-control" placeholder="Enter your store name"  aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit">Start Migration</button>
                                        </div>
                                    </div>
                                </form>

                                <div class="text-muted text-center">Bring over your informations!!</div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    </body>
</html>