<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

        <div class="container">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills float-right">
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/afroradiohead/klickly-interview" target="_blank">
                                <i class="fa fa-github"></i> Github
                            </a>
                        </li>
                    </ul>
                </nav>
                <h3 class="text-muted">Klickly Interview <small>By Christopher E. Clarke</small></h3>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="jumbotron">
                        <h1 class="display-4">Shopify Migration Tool</h1>
                        <br  />
                        <div class="row">
                            <div class="col-4 mx-auto">
                                <form class="form-inline"  action="/api/migrate" method="POST">
                                    <div class="input-group mb-3">
                                        <input type="text" name="storeName" class="form-control" placeholder="Enter your store name"  aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit">Start Migration</button>
                                        </div>
                                    </div>
                                </form>

                                <div class="text-muted text-center">Give me your store's data! ლ(´ڡ`ლ)</div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="list-group">
                        {{#each renderedAccountList}}
                            <div class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><small class="text-muted">Store Name:</small> {{name}}</h5>
                                    <small>migrated: <i>{{updatedAtAgo}}</i></small>
                                </div>
                                <p class="mb-1">This store was created on <b>{{storeExisistenceDate}}</b> </p>
                                <small>{{domain}}</small>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    </body>
</html>